body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-101px;
  width:1054px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:608px;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:72px;
  width:521px;
  height:608px;
  display:flex;
}
#u1523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:608px;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:72px;
  width:521px;
  height:608px;
  display:flex;
}
#u1524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:165px;
  width:100px;
  height:60px;
  display:flex;
}
#u1525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:165px;
  width:100px;
  height:60px;
  display:flex;
}
#u1526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:195px;
  width:0px;
  height:0px;
}
#u1527_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:515px;
  height:10px;
}
#u1527_seg1 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1527_text {
  border-width:0px;
  position:absolute;
  left:205px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:225px;
  width:0px;
  height:0px;
}
#u1528_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u1528_seg1 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:40px;
  width:145px;
  height:10px;
}
#u1528_seg2 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:40px;
  width:10px;
  height:17px;
}
#u1528_seg3 {
  border-width:0px;
  position:absolute;
  left:-145px;
  top:45px;
  width:20px;
  height:20px;
}
#u1528_text {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:393px;
  width:110px;
  height:70px;
  display:flex;
}
#u1529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:342px;
  width:0px;
  height:0px;
}
#u1530_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:43px;
}
#u1530_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:33px;
  width:88px;
  height:10px;
}
#u1530_seg2 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:33px;
  width:10px;
  height:18px;
}
#u1530_seg3 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:39px;
  width:20px;
  height:20px;
}
#u1530_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:505px;
  width:100px;
  height:60px;
  display:flex;
}
#u1531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:589px;
  width:100px;
  height:60px;
  display:flex;
}
#u1532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:619px;
  width:0px;
  height:0px;
}
#u1533_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:742px;
  height:10px;
}
#u1533_seg1 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:-273px;
  width:10px;
  height:278px;
}
#u1533_seg2 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:-281px;
  width:20px;
  height:20px;
}
#u1533_text {
  border-width:0px;
  position:absolute;
  left:455px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:346px;
  width:0px;
  height:0px;
}
#u1534_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:39px;
}
#u1534_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:29px;
  width:60px;
  height:10px;
}
#u1534_seg2 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:29px;
  width:10px;
  height:18px;
}
#u1534_seg3 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:35px;
  width:20px;
  height:20px;
}
#u1534_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:346px;
  width:0px;
  height:0px;
}
#u1535_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:39px;
}
#u1535_seg1 {
  border-width:0px;
  position:absolute;
  left:-175px;
  top:29px;
  width:180px;
  height:10px;
}
#u1535_seg2 {
  border-width:0px;
  position:absolute;
  left:-175px;
  top:29px;
  width:10px;
  height:18px;
}
#u1535_seg3 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:35px;
  width:20px;
  height:20px;
}
#u1535_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:346px;
  width:0px;
  height:0px;
}
#u1536_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:39px;
}
#u1536_seg1 {
  border-width:0px;
  position:absolute;
  left:-282px;
  top:29px;
  width:287px;
  height:10px;
}
#u1536_seg2 {
  border-width:0px;
  position:absolute;
  left:-282px;
  top:29px;
  width:10px;
  height:18px;
}
#u1536_seg3 {
  border-width:0px;
  position:absolute;
  left:-287px;
  top:35px;
  width:20px;
  height:20px;
}
#u1536_text {
  border-width:0px;
  position:absolute;
  left:-178px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:225px;
  width:0px;
  height:0px;
}
#u1537_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:62px;
}
#u1537_seg1 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:52px;
  width:19px;
  height:10px;
}
#u1537_seg2 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:47px;
  width:20px;
  height:20px;
}
#u1537_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:225px;
  width:0px;
  height:0px;
}
#u1538_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u1538_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:40px;
  width:116px;
  height:10px;
}
#u1538_seg2 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:40px;
  width:10px;
  height:17px;
}
#u1538_seg3 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:45px;
  width:20px;
  height:20px;
}
#u1538_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:225px;
  width:0px;
  height:0px;
}
#u1539_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u1539_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:40px;
  width:236px;
  height:10px;
}
#u1539_seg2 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:40px;
  width:10px;
  height:17px;
}
#u1539_seg3 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:45px;
  width:20px;
  height:20px;
}
#u1539_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:225px;
  width:0px;
  height:0px;
}
#u1540_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u1540_seg1 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:40px;
  width:239px;
  height:10px;
}
#u1540_seg2 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:40px;
  width:10px;
  height:21px;
}
#u1540_seg3 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:49px;
  width:20px;
  height:20px;
}
#u1540_text {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:225px;
  width:0px;
  height:0px;
}
#u1541_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u1541_seg1 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:40px;
  width:124px;
  height:10px;
}
#u1541_seg2 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:40px;
  width:10px;
  height:21px;
}
#u1541_seg3 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:49px;
  width:20px;
  height:20px;
}
#u1541_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:225px;
  width:0px;
  height:0px;
}
#u1542_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:66px;
}
#u1542_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:56px;
  width:6px;
  height:10px;
}
#u1542_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:51px;
  width:20px;
  height:20px;
}
#u1542_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:225px;
  width:0px;
  height:0px;
}
#u1543_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u1543_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:40px;
  width:124px;
  height:10px;
}
#u1543_seg2 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:40px;
  width:10px;
  height:21px;
}
#u1543_seg3 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:49px;
  width:20px;
  height:20px;
}
#u1543_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:463px;
  width:0px;
  height:0px;
}
#u1544_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:47px;
}
#u1544_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:565px;
  width:0px;
  height:0px;
}
#u1545_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:29px;
}
#u1545_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:20px;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:85px;
  width:43px;
  height:50px;
  display:flex;
}
#u1546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:85px;
  width:43px;
  height:50px;
  display:flex;
}
#u1547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:94px;
  width:42px;
  height:16px;
  display:flex;
}
#u1548 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1548_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:94px;
  width:28px;
  height:16px;
  display:flex;
}
#u1549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1549_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:282px;
  width:100px;
  height:60px;
  display:flex;
}
#u1550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:286px;
  width:100px;
  height:60px;
  display:flex;
}
#u1551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:286px;
  width:100px;
  height:60px;
  display:flex;
}
#u1552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:286px;
  width:100px;
  height:60px;
  display:flex;
}
#u1553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:286px;
  width:100px;
  height:60px;
  display:flex;
}
#u1554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:286px;
  width:100px;
  height:60px;
  display:flex;
}
#u1555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:286px;
  width:100px;
  height:60px;
  display:flex;
}
#u1556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:286px;
  width:100px;
  height:60px;
  display:flex;
}
#u1557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
